# Analiza podatkov

In [10]:
import pandas as pd

filmi = pd.read_csv("filmi.csv", index_col="id")

In [11]:
filmi.head(10)

,naslov,ocena,cas,leto,oznaka,opis,cena,zasluzek
id,,,,,,,,
43014,Sunset Boulevard,8.4,110,1950,Approved,A screenwriter develops a dangerous relationsh...,1752000.0,310112.0
42192,Vse o Evi,8.2,138,1950,Approved,A seemingly timid but secretly ruthless ingénu...,1400000.0,154736.0
42876,V gozdu,8.2,88,1950,Not Rated,The rape of a bride and the murder of her samu...,250000.0,139819.0
42546,Harvey,7.9,104,1950,Approved,A whimsical man is thought to be insane due to...,NaN,877.0
42646,King Solomon&#x27;s Mines,6.7,103,1950,Approved,Adventurer Allan Quartermain leads an expediti...,2258000.0,951.0
42276,Born Yesterday,7.5,103,1950,Approved,While in Washington to lobby for favorable leg...,NaN,12000000.0
42367,Cyrano de Bergerac,7.4,113,1950,Approved,The charismatic swordsman-poet and provocateur...,400000.0,NaN
42832,Panic in the Streets,7.2,96,1950,Approved,A doctor and a policeman in New Orleans have o...,1400000.0,43.0
42200,Annie Get Your Gun,6.9,107,1950,Approved,The story of the great sharpshooter Annie Oakl...,3768785.0,NaN
42393,Destination Moon,6.3,92,1950,Approved,"&quot;Destination Moon&quot;, tells the tale o...",592000.0,NaN

In [12]:
filmi.tail(10)

,naslov,ocena,cas,leto,oznaka,opis,cena,zasluzek
id,,,,,,,,
28607951,Anora,7.5,139,2024,R,A young stripper from Brooklyn meets and impul...,6000000.0,59574302.0
17526714,The Substance,7.3,141,2024,R,A fading celebrity takes a black-market drug: ...,17500000.0,77316812.0
1262426,Wicked: Part I,7.5,160,2024,PG,"Elphaba, a young woman ridiculed for her green...",150000000.0,755367145.0
8999762,The Brutalist,7.4,216,2024,R,A visionary architect flees post-war Europe in...,10000000.0,50257472.0
21823606,A Real Pain,7.1,90,2024,R,Mismatched cousins reunite for a tour through ...,NaN,24856027.0
15239678,Dune: Part Two,8.5,166,2024,PG-13,Paul Atreides unites with the Fremen while on ...,190000000.0,714644358.0
4772188,Straume,7.9,85,2024,PG,"Cat is a solitary animal, but as its home is d...",3500000.0,30387182.0
14961016,Ainda Estou Aqui,8.3,137,2024,PG-13,A woman married to a former politician during ...,NaN,36085195.0
20221436,Emilia Pérez,5.4,132,2024,R,"It follows three remarkable women in Mexico, e...",25000000.0,16298763.0
30953759,No Other Land,8.3,92,2024,Not Rated,This film made by a Palestinian-Israeli collec...,NaN,3535943.0

In [14]:
filmi[["naslov", "leto"]]

                             naslov  leto
id
43014              Sunset Boulevard  1950
42192                     Vse o Evi  1950
42876                       V gozdu  1950
42546                        Harvey  1950
42646     King Solomon&#x27;s Mines  1950
...                             ...   ...
15239678             Dune: Part Two  2024
4772188                     Straume  2024
14961016           Ainda Estou Aqui  2024
20221436               Emilia Pérez  2024
30953759              No Other Land  2024

[1075 rows x 2 columns]

In [15]:
filmi["leto"] + 1000

id
43014       2950
42192       2950
42876       2950
42546       2950
42646       2950
            ...
15239678    3024
4772188     3024
14961016    3024
20221436    3024
30953759    3024
Name: leto, Length: 1075, dtype: int64

In [17]:
filmi[filmi["leto"] == 2005]

,naslov,ocena,cas,leto,oznaka,opis,cena,zasluzek
id,,,,,,,,
388795,Gora Brokeback,7.7,134,2005,R,"Two shepherds fall for each other, but their r...",14000000.0,178064141.0
363771,"Zgodbe iz Narnije: Lev, carovnica in omara",6.9,143,2005,PG,"While playing, Lucy and her siblings find a wa...",180000000.0,745013115.0
360717,King Kong,7.2,187,2005,PG-13,A greedy film producer assembles a team of mov...,207000000.0,556906378.0
397535,Spomini gejse,7.3,145,2005,PG-13,"The heartwarming tale of Nitta Sayuri, a young...",85000000.0,162242962.0
358273,Hoja po robu,7.8,136,2005,PG-13,A chronicle of country music legend Johnny Cas...,28000000.0,186797986.0
387131,Zvesti vrtnar,7.3,129,2005,R,A widower&apos;s transcontinental quest to fin...,25000000.0,82468097.0
312004,Wallace in Gromit: Prekletstvo Strahouhca,7.5,85,2005,G,"Wallace and his loyal dog, Gromit, set out to ...",30000000.0,192776116.0
379725,Capote,7.3,114,2005,R,"In 1959, Truman Capote learns of the murder of...",7000000.0,49327405.0
365737,Syriana,6.9,128,2005,R,A politically charged epic about the state of ...,50000000.0,93974620.0
410097,Gor in dol,7.3,116,2005,R,"With help from his friends, a Memphis pimp in ...",2800000.0,23563727.0
428803,La marche de l&#x27;empereur,7.5,80,2005,G,"In the Antarctic, every March since the beginn...",8000000.0,127392693.0
468565,Tsotsi,7.2,95,2005,R,Six days in the violent life of a young Johann...,3000000.0,9891303.0
438575,West Bank Story,7.2,21,2005,NaN,"A musical comedy set in the fast-paced, fast-f...",74000.0,NaN
491795,A Note of Triumph: The Golden Age of Norman Co...,7.1,39,2005,NaN,"A biography of Poet Norman Corwin, and the eve...",50000.0,NaN
449619,The Moon and the Son: An Imagined Conversation,6.8,28,2005,G,"The Moon and the Son, a 30-minute autobiograph...",NaN,NaN

In [19]:
zasluzkarji = filmi[filmi["zasluzek"] > 10**9]
zasluzkarji

,naslov,ocena,cas,leto,oznaka,opis,cena,zasluzek
id,,,,,,,,
107290,Jurski park,8.2,127,1993,PG-13,An industrialist invites some experts to visit...,63000000.0,1.104380e+09
120338,Titanik,7.9,194,1997,PG-13,A seventeen-year-old aristocrat falls in love ...,200000000.0,2.264813e+09
167260,Gospodar prstanov: Kraljeva vrnitev,9.0,201,2003,PG-13,Gandalf and Aragorn lead the World of Men agai...,94000000.0,1.138586e+09
383574,Pirati s Karibov: Mrtveceva skrinja,7.4,151,2006,PG-13,Jack Sparrow races to recover the heart of Dav...,225000000.0,1.066180e+09
468569,Vitez teme,9.0,152,2008,PG-13,When a menace known as the Joker wreaks havoc ...,185000000.0,1.012559e+09
499549,Avatar,7.9,162,2009,PG-13,A paraplegic Marine dispatched to the moon Pan...,237000000.0,2.923711e+09
1014759,Alice se vrne v čudežno deželo,6.4,108,2010,PG,Nineteen-year-old Alice returns to the magical...,200000000.0,1.025468e+09
435761,Svet igrač 3,8.3,103,2010,G,The toys are mistakenly delivered to a day-car...,200000000.0,1.067316e+09
1074638,Skyfall,7.8,143,2012,PG-13,James Bond&apos;s loyalty to M is tested when ...,200000000.0,1.108594e+09
2294629,Ledeno kraljestvo,7.4,102,2013,PG,Fearless optimist Anna teams up with rugged mo...,150000000.0,1.310333e+09
2948356,Zootropolis,8.0,108,2016,PG,"In a city of anthropomorphic animals, a rookie...",150000000.0,1.025522e+09
1825683,Black Panther,7.3,134,2018,PG-13,"T&apos;Challa, heir to the hidden but advanced...",200000000.0,1.349926e+09
7286456,Joker,8.3,122,2019,R,"Arthur Fleck, a party clown and a failed stand...",55000000.0,1.078959e+09
1979376,Svet igrač 4,7.6,100,2019,G,When a new toy called &quot;Forky&quot; joins ...,200000000.0,1.073841e+09
1745960,Top Gun: Maverick,8.2,130,2022,PG-13,The story involves Maverick confronting his pa...,170000000.0,1.495696e+09
1630029,Avatar: Pot vode,7.5,192,2022,PG-13,Jake Sully lives with his newfound family form...,350000000.0,2.320250e+09
1517268,Barbie,6.8,114,2023,PG-13,Barbie and Ken are having the time of their li...,100000000.0,1.447038e+09

In [22]:
filmi["profit"] = filmi["zasluzek"] - filmi["cena"]

In [23]:
filmi

,naslov,ocena,cas,leto,oznaka,opis,cena,zasluzek,profit
id,,,,,,,,,
43014,Sunset Boulevard,8.4,110,1950,Approved,A screenwriter develops a dangerous relationsh...,1752000.0,310112.0,-1441888.0
42192,Vse o Evi,8.2,138,1950,Approved,A seemingly timid but secretly ruthless ingénu...,1400000.0,154736.0,-1245264.0
42876,V gozdu,8.2,88,1950,Not Rated,The rape of a bride and the murder of her samu...,250000.0,139819.0,-110181.0
42546,Harvey,7.9,104,1950,Approved,A whimsical man is thought to be insane due to...,NaN,877.0,NaN
42646,King Solomon&#x27;s Mines,6.7,103,1950,Approved,Adventurer Allan Quartermain leads an expediti...,2258000.0,951.0,-2257049.0
...,...,...,...,...,...,...,...,...,...
15239678,Dune: Part Two,8.5,166,2024,PG-13,Paul Atreides unites with the Fremen while on ...,190000000.0,714644358.0,524644358.0
4772188,Straume,7.9,85,2024,PG,"Cat is a solitary animal, but as its home is d...",3500000.0,30387182.0,26887182.0
14961016,Ainda Estou Aqui,8.3,137,2024,PG-13,A woman married to a former politician during ...,NaN,36085195.0,NaN
20221436,Emilia Pérez,5.4,132,2024,R,"It follows three remarkable women in Mexico, e...",25000000.0,16298763.0,-8701237.0
30953759,No Other Land,8.3,92,2024,Not Rated,This film made by a Palestinian-Israeli collec...,NaN,3535943.0,NaN

In [24]:
filmi.sort_values("profit", ascending=False)

,naslov,ocena,cas,leto,oznaka,opis,cena,zasluzek,profit
id,,,,,,,,,
499549,Avatar,7.9,162,2009,PG-13,A paraplegic Marine dispatched to the moon Pan...,237000000.0,2.923711e+09,2.686711e+09
120338,Titanik,7.9,194,1997,PG-13,A seventeen-year-old aristocrat falls in love ...,200000000.0,2.264813e+09,2.064813e+09
1630029,Avatar: Pot vode,7.5,192,2022,PG-13,Jake Sully lives with his newfound family form...,350000000.0,2.320250e+09,1.970250e+09
1517268,Barbie,6.8,114,2023,PG-13,Barbie and Ken are having the time of their li...,100000000.0,1.447038e+09,1.347038e+09
1745960,Top Gun: Maverick,8.2,130,2022,PG-13,The story involves Maverick confronting his pa...,170000000.0,1.495696e+09,1.325696e+09
...,...,...,...,...,...,...,...,...,...
29795707,War Is Over!,6.3,11,2023,NaN,"At a World War I front, a carrier pigeon deliv...",NaN,NaN,NaN
29118186,The Last Repair Shop,7.4,39,2023,TV-PG,Tells the story of four unassuming heroes who ...,NaN,NaN,NaN
21823606,A Real Pain,7.1,90,2024,R,Mismatched cousins reunite for a tour through ...,NaN,2.485603e+07,NaN
14961016,Ainda Estou Aqui,8.3,137,2024,PG-13,A woman married to a former politician during ...,NaN,3.608520e+07,NaN
30953759,No Other Land,8.3,92,2024,Not Rated,This film made by a Palestinian-Israeli collec...,NaN,3.535943e+06,NaN

In [33]:
filmi[filmi["profit"].notna()].sort_values("profit", ascending=True).head(10)

,naslov,ocena,cas,leto,oznaka,opis,cena,zasluzek,profit
id,,,,,,,,,
118799,Življenje je lepo,8.6,116,1997,PG-13,When an open-minded Jewish waiter and his son ...,1.500000e+10,230099013.0,-1.476990e+10
8178634,RRR (Rise Roar Revolt),7.8,187,2022,TV-MA,A fearless warrior on a perilous mission comes...,3.500000e+09,166602994.0,-3.333397e+09
99334,Cyrano de Bergerac,7.5,137,1990,PG,Famed swordsman and poet Cyrano de Bergerac is...,1.000000e+08,5822041.0,-9.417796e+07
110428,The Madness of King George,7.2,110,1994,PG-13,"When King George III goes mad, his Lieutenants...",6.589777e+07,15238689.0,-5.065908e+07
1488589,Guillermo del Toro&#x27;s Pinocchio,7.6,117,2022,PG,A father&apos;s wish magically brings a wooden...,3.500000e+07,109846.0,-3.489015e+07
10293406,The Power of the Dog,6.8,126,2021,R,Charismatic rancher Phil Burbank inspires fear...,3.500000e+07,271009.0,-3.472899e+07
120889,Zivljenje po zivljenju,7.0,113,1998,PG-13,"Chris Nielsen dies in an accident, and enters ...",8.500000e+07,55383166.0,-2.961683e+07
64418,"Hello, Dolly!",7.0,146,1969,G,Matchmaker Dolly Levi travels to Yonkers to fi...,2.500000e+07,403127.0,-2.459687e+07
3581652,Zgodbe z zahodne strani,7.1,156,2021,PG-13,When young Tony and Maria fall in love in 1957...,1.000000e+08,76016171.0,-2.398383e+07
185014,Zlati fantje,7.2,107,2000,R,An English Professor tries to deal with his wi...,5.500000e+07,33426588.0,-2.157341e+07

In [34]:
filmi["desetletje"] = (filmi["leto"] // 10) * 10

In [39]:
filmi.groupby("desetletje").count()["naslov"]

desetletje
1950    152
1960    148
1970    134
1980    136
1990    137
2000    146
2010    151
2020     71
Name: naslov, dtype: int64

In [40]:
filmi.groupby("desetletje")["ocena"].mean()

desetletje
1950    7.052632
1960    7.213514
1970    7.240299
1980    7.272059
1990    7.474453
2000    7.577397
2010    7.656291
2020    7.422535
Name: ocena, dtype: float64